workflows/amphitheater-update.json
{
  "name": "[TJ] amphitheater-update",
  "nodes": [
    {
      "id": "tj-au-001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [208, 304],
      "parameters": {}
    },
    {
      "id": "tj-au-002",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 304],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst prompt = `Na podstawie poniższej kondensacji tygodnia wyodrębnij ponadczasowe informacje.\n\nWyodrębnij (tylko to co naprawdę ponadczasowe, pomiń codzienne drobiazgi):\n- Kluczowe osoby: imiona, role, relacje (category: person)\n- Projekty i technologie: nazwy, kontekst (category: project)\n- Wnioski i obserwacje: lekcje, wzorce, decyzje (category: insight)\n\nZwróć TYLKO JSON, bez markdown, bez dodatkowego tekstu:\n{\"insights\": [{\"category\": \"insight|person|project\", \"content\": \"...\"}]}\n\nKondensacja tygodnia:\n${input.weekly_condensation_text}`;\n\nreturn [{ json: { user_id: input.user_id, prompt_text: prompt } }];"
      }
    },
    {
      "id": "tj-au-003",
      "name": "Extract Insights",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [688, 304],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt_text }}"
      }
    },
    {
      "id": "tj-au-004",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [688, 480],
      "parameters": {
        "model": { "mode": "id", "value": "claude-sonnet-4-6" }
      },
      "credentials": {
        "anthropicApi": { "id": "", "name": "Anthropic Tech Diary" }
      }
    },
    {
      "id": "tj-au-005",
      "name": "Parse Insights",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, 304],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const userId = $('Workflow Input').first().json.user_id;\nconst llmResponse = $input.first().json.text || $input.first().json.output || '';\n\n// Strip markdown code blocks if model wrapped JSON in them\nconst cleaned = llmResponse\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    parsed = JSON.parse(match[0]);\n  } else {\n    return [{ json: { error: 'Failed to parse insights', raw: llmResponse } }];\n  }\n}\n\nconst insights = parsed.insights || [];\nif (insights.length === 0) return [];\n\nreturn insights.map(insight => ({\n  json: {\n    pageContent: insight.content,\n    metadata: {\n      category: insight.category,\n      user_id: userId\n    }\n  }\n}));"
      }
    },
    {
      "id": "tj-au-010",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [1168, 160],
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "category",
                "value": "={{ $json.metadata.category }}"
              }
            ]
          }
        }
      }
    },
    {
      "id": "tj-au-006",
      "name": "Insert Amphitheater",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [1168, 304],
      "parameters": {
        "mode": "insert",
        "tableName": {
          "mode": "id",
          "value": "amphitheater"
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-au-007",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [1168, 480],
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "credentials": {
        "openAiApi": { "id": "", "name": "OpenAI Tech Diary" }
      }
    },
    {
      "id": "tj-au-008",
      "name": "Collapse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 304],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const userId = $('Workflow Input').first().json.user_id;\nreturn [{ json: { user_id: userId } }];"
      }
    },
    {
      "id": "tj-au-009",
      "name": "Update User ID",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1640, 304],
      "continueOnFail": true,
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "amphitheater",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [[{ "node": "Prepare Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Prompt": {
      "main": [[{ "node": "Extract Insights", "type": "main", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "Extract Insights", "type": "ai_languageModel", "index": 0 }]]
    },
    "Extract Insights": {
      "main": [[{ "node": "Parse Insights", "type": "main", "index": 0 }]]
    },
    "Parse Insights": {
      "main": [[{ "node": "Insert Amphitheater", "type": "main", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Insert Amphitheater", "type": "ai_document", "index": 0 }]]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [[{ "node": "Insert Amphitheater", "type": "ai_embedding", "index": 0 }]]
    },
    "Insert Amphitheater": {
      "main": [[{ "node": "Collapse Output", "type": "main", "index": 0 }]]
    },
    "Collapse Output": {
      "main": [[{ "node": "Update User ID", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
