workflows/goal-change.json
{
  "name": "[TJ] goal-change",
  "nodes": [
    {
      "id": "tj-gc-001",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {}
    },
    {
      "id": "tj-gc-002",
      "name": "Get Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 300],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "onboarding_sessions",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Workflow Input').first().json.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-gc-003",
      "name": "Get Amphitheater",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "amphitheater",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Workflow Input').first().json.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-gc-004",
      "name": "Build Dialog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const stateCtx = $('Workflow Input').first().json;\nconst sessionItems = $('Get Session').all();\nconst hasSession = sessionItems.length > 0 && sessionItems[0].json.user_id != null;\nconst session = hasSession ? sessionItems[0].json : null;\nconst state = session ? session.state : 'new';\nconst collectedData = (session && session.collected_data) ? session.collected_data : {};\nconst conversation = collectedData.conversation || [];\nconst userMessage = stateCtx.message_text || '';\n\nconst ampItems = $input.all();\nconst activeAmp = ampItems.filter(item => !item.json.metadata?.superseded_at);\nconst ampContext = activeAmp\n  .map(item => {\n    const cat = (item.json.metadata?.category || 'info').toUpperCase();\n    return `[${cat}] ${item.json.text}`;\n  })\n  .join('\\n\\n') || '(brak wpisów w profilu)';\n\nconst updatedConversation = [...conversation, { role: 'user', content: userMessage }];\n\nconst stateGuides = {\n  new: 'Użytkownik chce zmienić swój cel zawodowy. Zaprezentuj mu aktualny profil z amfiteatru (zwięźle). Zapytaj co chce zmienić w swoim celu. Ustaw next_state: \"goal_collecting\".',\n  goal_collecting: `Zbierasz informacje o nowym celu zawodowym. Masz już zebrane: \"${JSON.stringify(collectedData)}\". Jeśli masz wystarczające info (min 1 konkretna odpowiedź), sformułuj cel SMART w polu goal_smart i poproś o potwierdzenie. Ustaw next_state: \"gc_confirm\". Jeśli potrzebujesz więcej info, zadaj jedno pytanie, next_state: \"goal_collecting\".`,\n  gc_confirm: `Użytkownik odpowiada na pytanie o potwierdzenie nowego celu SMART: \"${collectedData.goal_smart || ''}\". TAK/tak/yes/zgadza się → zakończ z next_state: \"complete\". NIE/nie → zapytaj co zmienić, next_state: \"goal_collecting\".`\n};\n\nconst historyText = updatedConversation\n  .map(m => `${m.role === 'user' ? 'UŻYTKOWNIK' : 'ASYSTENT'}: ${m.content}`)\n  .join('\\n') || '(brak — to pierwsza wiadomość)';\n\nconst fullPrompt = `Pomagasz użytkownikowi zmienić jego cel zawodowy.\\n\\nPROFIL UŻYTKOWNIKA (amfiteatr):\\n${ampContext}\\n\\nAKTUALNY STAN: ${state}\\nINSTRUKCJA:\\n${stateGuides[state] || stateGuides.new}\\n\\nHISTORIA ROZMOWY:\\n${historyText}\\n\\nOdpowiedz TYLKO JSON (bez markdown):\\n{\\n  \"message\": \"...\",\\n  \"next_state\": \"goal_collecting|gc_confirm|complete\",\\n  \"goal_smart\": \"...\"\\n}`;\n\nreturn [{\n  json: {\n    user_id: stateCtx.user_id,\n    chat_id: stateCtx.chat_id,\n    state,\n    collected_data: collectedData,\n    conversation: updatedConversation,\n    full_prompt: fullPrompt\n  }\n}];"
      }
    },
    {
      "id": "tj-gc-005",
      "name": "Claude Dialog",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1160, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.full_prompt }}"
      }
    },
    {
      "id": "tj-gc-006",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1160, 480],
      "parameters": {
        "model": { "mode": "id", "value": "claude-sonnet-4-6" }
      },
      "credentials": {
        "anthropicApi": { "id": "", "name": "Anthropic Tech Diary" }
      }
    },
    {
      "id": "tj-gc-007",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const buildCtx = $('Build Dialog').first().json;\nconst llmResponse = $input.first().json.text || $input.first().json.output || '';\n\nconst cleaned = llmResponse\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {\n    message: 'Przepraszam, wystąpił błąd. Spróbuj ponownie.',\n    next_state: buildCtx.state,\n    goal_smart: ''\n  };\n}\n\nconst rawNextState = parsed.next_state || buildCtx.state;\nconst nextState = rawNextState === 'goal_confirm' ? 'gc_confirm' : rawNextState;\nconst message = parsed.message || 'Coś poszło nie tak. Spróbuj ponownie.';\nconst goalSmart = parsed.goal_smart || buildCtx.collected_data.goal_smart || '';\n\nconst updatedCollectedData = {\n  ...buildCtx.collected_data,\n  goal_smart: goalSmart,\n  conversation: [...buildCtx.conversation, { role: 'assistant', content: message }]\n};\n\nreturn [{\n  json: {\n    user_id: buildCtx.user_id,\n    chat_id: buildCtx.chat_id,\n    next_state: nextState,\n    message,\n    collected_data: updatedCollectedData,\n    is_complete: nextState === 'complete',\n    goal_smart: goalSmart\n  }\n}];"
      }
    },
    {
      "id": "tj-gc-008",
      "name": "Delete Old Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1640, 300],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "delete",
        "tableId": "onboarding_sessions",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-gc-009",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1880, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-goal-complete",
              "leftValue": "={{ $('Parse Response').first().json.is_complete }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "tj-gc-010",
      "name": "Prepare Goal Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 100],
      "parameters": {
        "jsCode": "const parseData = $('Parse Response').first().json;\nreturn [{\n  json: {\n    user_id: parseData.user_id,\n    weekly_condensation_text: `Zaktualizowany cel zawodowy użytkownika: ${parseData.goal_smart}`\n  }\n}];"
      }
    },
    {
      "id": "tj-gc-011",
      "name": "Update Amphitheater",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [2360, 100],
      "parameters": {
        "source": "database",
        "workflowId": "rUuhiK2xClpGJJad",
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "ignoreTypeMismatch": false
        }
      }
    },
    {
      "id": "tj-gc-012",
      "name": "Send Complete",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2600, 100],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Response').first().json.chat_id }}",
        "text": "={{ $('Parse Response').first().json.message }}"
      },
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram Tech Diary" }
      }
    },
    {
      "id": "tj-gc-013",
      "name": "Create Session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2120, 500],
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "onboarding_sessions",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Parse Response').first().json.user_id }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $('Parse Response').first().json.next_state }}"
            },
            {
              "fieldId": "collected_data",
              "fieldValue": "={{ $('Parse Response').first().json.collected_data }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-gc-014",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2360, 500],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Parse Response').first().json.chat_id }}",
        "text": "={{ $('Parse Response').first().json.message }}"
      },
      "credentials": {
        "telegramApi": { "id": "", "name": "Telegram Tech Diary" }
      }
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [[{ "node": "Get Session", "type": "main", "index": 0 }]]
    },
    "Get Session": {
      "main": [[{ "node": "Get Amphitheater", "type": "main", "index": 0 }]]
    },
    "Get Amphitheater": {
      "main": [[{ "node": "Build Dialog", "type": "main", "index": 0 }]]
    },
    "Build Dialog": {
      "main": [[{ "node": "Claude Dialog", "type": "main", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "Claude Dialog", "type": "ai_languageModel", "index": 0 }]]
    },
    "Claude Dialog": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Delete Old Session", "type": "main", "index": 0 }]]
    },
    "Delete Old Session": {
      "main": [[{ "node": "Is Complete?", "type": "main", "index": 0 }]]
    },
    "Is Complete?": {
      "main": [
        [{ "node": "Prepare Goal Text", "type": "main", "index": 0 }],
        [{ "node": "Create Session", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Goal Text": {
      "main": [[{ "node": "Update Amphitheater", "type": "main", "index": 0 }]]
    },
    "Update Amphitheater": {
      "main": [[{ "node": "Send Complete", "type": "main", "index": 0 }]]
    },
    "Create Session": {
      "main": [[{ "node": "Send Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
