workflows/weekly-processing.json
{
  "name": "[TJ] weekly-processing",
  "nodes": [
    {
      "id": "tj-wp-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 23 * * 6" }]
        }
      }
    },
    {
      "id": "tj-wp-002",
      "name": "Get All Users",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 300],
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "users",
        "returnAll": true
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-wp-003",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "tj-wp-004",
      "name": "Set User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "jsCode": "return [{ json: { user_id: $json.id, telegram_id: $json.telegram_id } }];"
      }
    },
    {
      "id": "tj-wp-005",
      "name": "Get Journal Entries",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1160, 300],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "journal_entries",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "created_at",
              "condition": "gte",
              "keyValue": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString() }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-wp-006",
      "name": "Collect Journal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const userId = $('Set User').first().json.user_id;\nconst items = $input.all();\nconst journalText = items\n  .filter(item => item.json.content)\n  .map(item => item.json.content)\n  .join('\\n\\n---\\n\\n');\n\nconst now = new Date();\nconst weekStart = new Date(now);\nweekStart.setDate(now.getDate() - now.getDay() + 1);\nweekStart.setHours(0, 0, 0, 0);\n\nreturn [{\n  json: {\n    user_id: userId,\n    journal_text: journalText,\n    has_entries: journalText.length > 0,\n    week_start: weekStart.toISOString().split('T')[0]\n  }\n}];"
      }
    },
    {
      "id": "tj-wp-007",
      "name": "Has Entries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1640, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-has-entries",
              "leftValue": "={{ $json.has_entries }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "tj-wp-008",
      "name": "Get Amphitheater",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1880, 300],
      "alwaysOutputData": true,
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "amphitheater",
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Collect Journal').first().json.user_id }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-wp-009",
      "name": "Build Weekly Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const journalData = $('Collect Journal').first().json;\nconst ampItems = $input.all();\nconst activeAmp = ampItems.filter(item => !item.json.metadata?.superseded_at);\nconst ampContext = activeAmp\n  .map(item => {\n    const cat = (item.json.metadata?.category || 'info').toUpperCase();\n    return `[${cat}] ${item.json.content}`;\n  })\n  .join('\\n\\n') || '(brak profilu w amfiteatrze)';\n\nconst fullPrompt = `Na podstawie wpisów z dziennika z tygodnia ${journalData.week_start} wykonaj dwa zadania:\\n\\n1. KONDENSACJA TYGODNIA: Zsyntetyzuj kluczowe tematy, wzorce, decyzje i spostrzeżenia z wpisów. Bądź konkretny i rzeczowy (200-400 słów).\\n\\n2. PLAN NA PRZYSZŁY TYDZIEŃ: Na podstawie kondensacji i profilu użytkownika zaproponuj konkretny plan (3-5 priorytetów/działań na najbliższy tydzień).\\n\\nPROFIL UŻYTKOWNIKA (amfiteatr):\\n${ampContext}\\n\\nWPISY Z TYGODNIA:\\n${journalData.journal_text}\\n\\nOdpowiedz TYLKO JSON (bez markdown):\\n{\\n  \\\"weekly_condensation\\\": \\\"...\\\",\\n  \\\"weekly_plan\\\": \\\"...\\\"\\n}`;\n\nreturn [{ json: { user_id: journalData.user_id, week_start: journalData.week_start, full_prompt: fullPrompt } }];"
      }
    },
    {
      "id": "tj-wp-010",
      "name": "Claude Weekly",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [2360, 300],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.full_prompt }}"
      }
    },
    {
      "id": "tj-wp-011",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [2360, 480],
      "parameters": {
        "model": { "mode": "id", "value": "claude-sonnet-4-6" }
      },
      "credentials": {
        "anthropicApi": { "id": "", "name": "Anthropic Tech Diary" }
      }
    },
    {
      "id": "tj-wp-012",
      "name": "Parse Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const buildCtx = $('Build Weekly Prompt').first().json;\nconst llmResponse = $input.first().json.text || $input.first().json.output || '';\nconst cleaned = llmResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {\n    weekly_condensation: llmResponse.substring(0, 1000),\n    weekly_plan: '(brak planu)'\n  };\n}\nreturn [{ json: {\n  user_id: buildCtx.user_id,\n  week_start: buildCtx.week_start,\n  weekly_condensation: parsed.weekly_condensation || '',\n  weekly_plan: parsed.weekly_plan || ''\n} }];"
      }
    },
    {
      "id": "tj-wp-013",
      "name": "Prepare Condensation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 300],
      "parameters": {
        "jsCode": "return [{ json: {\n  pageContent: $json.weekly_condensation,\n  metadata: { user_id: $json.user_id, week_start: $json.week_start }\n} }];"
      }
    },
    {
      "id": "tj-wp-014",
      "name": "Save Weekly Condensation",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [3080, 300],
      "parameters": {
        "mode": "insert",
        "tableName": { "mode": "id", "value": "weekly_condensations" }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-wp-015",
      "name": "OpenAI Embeddings 1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [3080, 480],
      "parameters": { "model": "text-embedding-3-small" },
      "credentials": {
        "openAiApi": { "id": "", "name": "OpenAI Tech Diary" }
      }
    },
    {
      "id": "tj-wp-016",
      "name": "Prepare Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 300],
      "parameters": {
        "jsCode": "const data = $('Parse Weekly').first().json;\nreturn [{ json: {\n  pageContent: data.weekly_plan,\n  metadata: { user_id: data.user_id, week_start: data.week_start }\n} }];"
      }
    },
    {
      "id": "tj-wp-017",
      "name": "Save Weekly Plan",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [3560, 300],
      "parameters": {
        "mode": "insert",
        "tableName": { "mode": "id", "value": "weekly_plans" }
      },
      "credentials": {
        "supabaseApi": { "id": "", "name": "Supabase Tech Diary" }
      }
    },
    {
      "id": "tj-wp-018",
      "name": "OpenAI Embeddings 2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [3560, 480],
      "parameters": { "model": "text-embedding-3-small" },
      "credentials": {
        "openAiApi": { "id": "", "name": "OpenAI Tech Diary" }
      }
    },
    {
      "id": "tj-wp-019",
      "name": "Prepare Amphitheater Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 300],
      "parameters": {
        "jsCode": "const data = $('Parse Weekly').first().json;\nreturn [{ json: { user_id: data.user_id, weekly_condensation_text: data.weekly_condensation } }];"
      }
    },
    {
      "id": "tj-wp-020",
      "name": "Update Amphitheater",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [4040, 300],
      "parameters": {
        "source": "database",
        "workflowId": "rUuhiK2xClpGJJad",
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "ignoreTypeMismatch": false
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get All Users", "type": "main", "index": 0 }]]
    },
    "Get All Users": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    },
    "SplitInBatches": {
      "main": [[{ "node": "Set User", "type": "main", "index": 0 }]]
    },
    "Set User": {
      "main": [[{ "node": "Get Journal Entries", "type": "main", "index": 0 }]]
    },
    "Get Journal Entries": {
      "main": [[{ "node": "Collect Journal", "type": "main", "index": 0 }]]
    },
    "Collect Journal": {
      "main": [[{ "node": "Has Entries?", "type": "main", "index": 0 }]]
    },
    "Has Entries?": {
      "main": [
        [{ "node": "Get Amphitheater", "type": "main", "index": 0 }],
        [{ "node": "SplitInBatches", "type": "main", "index": 0 }]
      ]
    },
    "Get Amphitheater": {
      "main": [[{ "node": "Build Weekly Prompt", "type": "main", "index": 0 }]]
    },
    "Build Weekly Prompt": {
      "main": [[{ "node": "Claude Weekly", "type": "main", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "Claude Weekly", "type": "ai_languageModel", "index": 0 }]]
    },
    "Claude Weekly": {
      "main": [[{ "node": "Parse Weekly", "type": "main", "index": 0 }]]
    },
    "Parse Weekly": {
      "main": [[{ "node": "Prepare Condensation", "type": "main", "index": 0 }]]
    },
    "Prepare Condensation": {
      "main": [[{ "node": "Save Weekly Condensation", "type": "main", "index": 0 }]]
    },
    "OpenAI Embeddings 1": {
      "ai_embedding": [[{ "node": "Save Weekly Condensation", "type": "ai_embedding", "index": 0 }]]
    },
    "Save Weekly Condensation": {
      "main": [[{ "node": "Prepare Plan", "type": "main", "index": 0 }]]
    },
    "Prepare Plan": {
      "main": [[{ "node": "Save Weekly Plan", "type": "main", "index": 0 }]]
    },
    "OpenAI Embeddings 2": {
      "ai_embedding": [[{ "node": "Save Weekly Plan", "type": "ai_embedding", "index": 0 }]]
    },
    "Save Weekly Plan": {
      "main": [[{ "node": "Prepare Amphitheater Input", "type": "main", "index": 0 }]]
    },
    "Prepare Amphitheater Input": {
      "main": [[{ "node": "Update Amphitheater", "type": "main", "index": 0 }]]
    },
    "Update Amphitheater": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
